<link ng-repeat="importFont in importFonts" ng-href='http:
//fonts.googleapis.com/css?family={{importFont}}' rel='stylesheet' type='text/css'>

<div ng-style="wrapperStyle" style="width:100%">
	<div style="width:50%;text-align:center">
		<select class="form-control" ng-style="selectStyle" ng-model="fontSelected" ng-change="selectFont();">
			<option ng-repeat="font in fonts" value="{{font}}">{{font}}</option>
		</select>
	</div>
	<div style="width:50%;text-align:center">
	{{fontStyle}}
		<p id="font-demo">This is the new font you have selected.<br>
		Zoo, Tiger, Xylophone, other weird words.</p>
	</div>
</div>